/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 3, 2016, 2:29:27 PM
    Author     : shu
*/

html {
    position: relative;
    min-height: 100%;
}

.caronaLink {
    color: #000;
}

.h2 {
    margin-top: 0px;
    margin-bottom: 30px;
}

.projeto-well {    
    padding-bottom: 0px;
}

.container {
    max-width: 950px;
}

.row {
    margin-bottom: 15px;
}

.navbar-default {    
    border-color: #d8d8d8;
}

.well {
    border-color: #d8d8d8;
}

.alert {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #efefef;
    border-radius: 5px;  
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #777;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #837c7c;
    background-color: #d8d8d8;
}

hr {
    border-top: 1px solid #ccc8c8;
}

hr.quebraLinhaIndex {
    text-align: center;
}

hr.quebraLinhaIndex:after {
    content:"\f1b9";
    display: inline-block;
    position: relative;
    top: -2.1em;
    font-size: 1.15em;
    padding: 19px 1.75em;
    font-family: FontAwesome;
    background: #fff no-repeat scroll center;    
}
